body {
    text-align: center;
}

.btn {
    height: 200px;
    width: 200px;
    border: 2px solid black;
    border-radius: 20%;
    margin: 2rem;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.flash {
    background-color: #fff;
}
.userFlash{
    background-color: #000;
}